/node_modules
/public/hot
/public/storage
/public/images/customer
/public/images/news
/public/images/banner
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
*.dockerfile
*.conf
.DS_Store
